<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-menu-color="dark" data-topbar-color="light">


<!-- Mirrored from myrathemes.netlify.app/lunoz/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Nov 2025 18:27:28 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <%- include('./layout/head.ejs') -%>
</head>

<body>

    <!-- Begin page -->
    <div class="layout-wrapper">

        <!-- ========== Left Sidebar ========== -->
        <%- include('./layout/sidebar.ejs') -%>
        <!-- =======    ======= -->

        <div class="page-content">

            <!-- ========== Topbar Start ========== -->
            <%- include('./layout/navbar.ejs') -%>
            <!-- ========== Topbar End ========== -->

            <!-- ========== Content ========== -->
            <div class="px-3">

        <!-- Start Content-->
        <div class="container-fluid">
            <%- body %>
        </div> <!-- container -->

        </div> <!-- content -->
            <!-- Footer Start -->
            <%- include('./layout/footer.ejs') -%>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- App js -->
    <%- include('./layout/js.ejs') -%>
</body>


<!-- Mirrored from myrathemes.netlify.app/lunoz/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Nov 2025 18:28:13 GMT -->
</html>